<header>
  <mat-toolbar>
    <img
      src="../../../assets/images/pokeball.png"
      alt=""
      srcset=""
      [routerLink]="['/pokedex']"
    />
    <h1>PokeApi</h1>
    <h2>
      <a
        href="http://github.com/Se1juro"
        target="_blank"
        rel="noopener noreferrer"
        >Daniel Morales</a
      >
    </h2>
    <span class="button-logout" *ngIf="logged$" (click)="logOut()">
      Cerrar sesion
    </span>
    <span class="button-logout" *ngIf="!logged$" [routerLink]="['/login']"
      >Iniciar Sesion</span
    >
  </mat-toolbar>
</header>
